name: Deploy via SSH

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Build Vite App
        run: npm run build

      # Upload Vite dist folder
      - name: Copy Build to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          password: ${{ secrets.EC2_PASSWORD }}
          port: 22
          source: "dist/*"
          target: "C:/Users/Administrator/Desktop/temp_build"
          strip_components: 1

      # Deploy to IIS
      - name: Deploy to IIS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          password: ${{ secrets.EC2_PASSWORD }}
          port: 22
          script: |
            $iisPath = "C:\inetpub\wwwroot\pro"
            $tempPath = "C:\Users\Administrator\Desktop\temp_build"

            Remove-Item -Path "$iisPath\*" -Recurse -Force -ErrorAction SilentlyContinue
            Move-Item -Path "$tempPath\*" -Destination "$iisPath" -Force
            Remove-Item -Path $tempPath -Recurse -Force -ErrorAction SilentlyContinue

            Write-Host "Deployed Successfully"
